*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: antiquewhite;
}
 
.calculator {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    margin: auto;
    margin-top: 50px;
    background-color: #fff;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: bold;
    color: rgba(25, 0, 255, 0.884)
}
 
.display {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
}
 
.all-buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
 
input {
    width: 100%;
    padding: 20px;
    font-size: 1.5em;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

#operator{
    background-color: #f39c12;
}

button:hover {
    background-color: #ddd;
}
 
.op {
    background-color: #f1c40f;
    color: white;
}
 
.op:hover {
    background-color: #f39c12;
}

#result {
    justify-content: center;
    padding: 0;
    height: 15vh;
    text-align: right;
}

